@using SherrilynFrondozo.Web.Infrastructures.Data.Models;
@model SherrilynFrondozo.Web.ViewModels.Users.IndexViewModel;
@{
    ViewData["Title"] = "Welcome to Mercadia";
}

<div class="container">
    <h2>Users</h2>
    <p>Here is a paged list of all the users</p>
    <a href="~/home/create" title="Create User"><button type="button" class="btn">Create User    <i class="fas fa-plus"></i></button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (User user in Model.Users.Items)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.EmailAddress</td>
                        <td>@user.Gender</td>
                        <td>
                            <a href="~/home/reset-password/@user.Id" onclick="confirmResetPassword('@user.Id', '@user.FullName')" title="Reset Password"><button type="button" class="btn"><i class="fas fa-key"></i></button></a>
                            <a href="~/home/update-profile/@user.Id" title="Update Profile"><button type="button" class="btn"><i class="fas fa-pen-square"></i></button></a>
                            @{
                                if (user.LoginStatus == SherrilynFrondozo.Web.Infrastructures.Data.Enums.LoginStatus.Active)
                                {
                                    <a href="#" onclick="confirmDeactivateAccount('@user.Id', '@user.FullName')" title="Deactivate Account"><button type="button" class="btn"><i class="fas fa-lock"></i></button></a>
                                }
                                else
                                {
                                    <a href="#" onclick="confirmActivateAccount('@user.Id', '@user.FullName')" title="Activate Account"><button type="button" class="btn"><i class="fas fa-lock-open"></i></button></a>
                                }
                            }
                            <a href="~/home/delete/@user.Id" onclick="confirmDeleteUser('@user.Id', '@user.FullName')" title="Delete User"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.Users.CurrentPage" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/home/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val()));" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Users.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-reset-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reset the password of <span id="modal-reset-password-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-reset-password-confirm"><button type="button" class="btn btn-primary">Reset Password</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-account-status">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="modal-account-status-label"></span> Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to <span class="modal-account-status-label"></span> the account of <span id="modal-account-status-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-account-status-confirm"><button type="button" class="btn btn-primary"><span class="modal-account-status-label"></span> Account</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-delete-user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="modal-delete-user-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-delete-user-confirm"><button type="button" class="btn btn-primary">Delete User</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts{
    <script type="text/javascript">
        function confirmResetPassword(userId, userName) {
            $("#modal-reset-password-username").html(userName);
            $("#modal-reset-password-confirm").attr("href", "/home/reset-password/" + userId);
            $("#modal-reset-password").modal("show");
        }

        function confirmActivateAccount(userId, userName) {
            $("#modal-account-status-username").html(userName);
            $(".modal-account-status-label").html("Activate");
            $("#modal-account-status-confirm").attr("href", "/home/change-status/Active/" + userId);
            $("#modal-account-status").modal("show");
        }

        function confirmDeactivateAccount(userId, userName) {
            $("#modal-account-status-username").html(userName);
            $(".modal-account-status-label").html("Deactivate");
            $("#modal-account-status-confirm").attr("href", "/home/change-status/Locked/" + userId);
            $("#modal-account-status").modal("show");
        }

        function confirmDeleteUser(userId, userName) {
            $("#modal-delete-user-username").html(userName);
            $("#modal-delete-user-confirm").attr("href", "/home/delete/" + userId);
            $("#modal-delete-user").modal("show");
        }
    </script>
}